beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
dataclasses==0.6
Flask==2.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
lolpython==2.2.0
lxml==4.8.0
MarkupSafe==2.0.1
requests==2.27.1
soupsieve==2.3.2.post1
typing_extensions==4.0.1
urllib3==1.26.9
Werkzeug==2.0.2
wikipedia==1.4.0
zipp==3.6.0
