{% extends 'base.html' %}

{% block title %}
koduj.pisz.pl
{% endblock %}
{% block body %}
<div class="container-fluid">
  
  <div class="row justify-content-center">
    <div class="col-8 align-self-center">
        <h1 class="display-4 mt-5">{{text}}
          <small class="text-muted">Ale o co chodzi?</small>
        </h1>
        <p class="lead">
          To jest jedna z setek flag - stron, które powstały w ramach darmowych zajęć programowania xd.
        </p>
        <p>
          Oprócz tego, że <a href="https://zajecia-programowania-xd.pl">zajęcia</a> są XD i oprócz tego, że są darmowe, to skupiają też niesamowitą społeczność ludzi o różnych poziomach zaawansowania i wiedzy. No i oprócz <a href="https://zajecia-programowania-xd.pl/flagi">flag</a> mamy też zamek i karczmy ;)
        </p>
        <p>
          Skoro zaczynasz od stworzenia strony na VPSie, nawet jeśli nie masz pojęcia czym jest HTML - i od pierwszego dnia, zanim jeszcze zrozumiesz co znaczy .py na końcu pliku korzystasz z Flaska, to jest to tak szalone, że <small class="muted">(nie wiem czy)</small> musi się udać ale i tak będzie świetną zabawą.</p>
          <p class="lead">
            Zamek i karczmy?
          </p>
          <p>I pasowanie, po którym zostajesz rycerzem. I lekko erpegowy klimat w nazwach kanałów discorda, którym możesz się cieszyć albo go zupełnie nie zauważać bo i tak <small class="muted">(wspomniałem już?)</small> najważniejsi są ludzie, których łączy idea pomagania innym.</p>
    </div>
  </div>
</div>    
{% endblock %} 
