{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
{% endblock %}

{% block title %}
pyscript
{% endblock %}
{% block body %}
<div class="container-fluid">
  
  <div class="row justify-content-center">
    <div class="col-8 align-self-center">
        <h1 class="display-4 mt-5">
            
            <a href="https://pyscript.net/"><py-script> print('printed with py-script') </py-script></a>

        </h1>
    </div>
  </div>
</div>    
{% endblock %} 
